@model Web.ViewComponents.CommentViewComponent
<h2>Comments</h2>
<p>
    <a href="/Comment/Create?topicId=0&threadId=1">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].ThreadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].ReplyToCommentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].CommentStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].DateTimeAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyToCommentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeAdded)
                </td>
                <td>
                    <a href=@("/Comment/Edit?id=" + item.Id)>Edit</a> |
                    <a href=@("/Comment/Details?id=" + item.Id)>Read</a> |
                    <a href=@("/Comment/Create?topicId=1&threadId=0&replyToCommentId=" + item.Id)>Reply To</a>
                </td>
            </tr>
}
    </tbody>
</table>
