@model Web.ViewComponents.ThreadViewComponent
<h2>Threads</h2>
<p>
    <a href="/Thread/Create?topicId=0">Create New</a>
</p>
<p>
    View Component!
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].Pinned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].PinOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Thread)
        {
            <tr class=@((item.Enabled && (Model.SharedModel.CurrentTopic == null || Model.SharedModel.CurrentTopic.Enabled)) ? "" : "info")>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicId, item.Enabled ? new { } : (object)new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name, item.Enabled ? new { } : (object)new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pinned, item.Enabled ? new { } : (object)new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinOrder, item.Enabled ? new { } : (object)new { @readonly = "readonly" })
                </td>
                <td>
                    @if (item.Enabled)
                    {
                        <span><a href=@("/Thread/Edit?id=" + item.Id)>Edit</a> |</span>
}
                    <a href=@("/Thread/Details?id=" + item.Id)>Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
